/*
Styling for the sidebar.
*/
@import "_transitions";
@import "_responsive";
@import "variables";

#wrapper {
  height: 100%;
  width: 100%;
  overflow: auto;
  #toggle-wrapper {
    overflow: auto;
    &.toggled {
      $width: $sidebar-size - $sidebar-movement;
      #sidebar-wrapper {
        width: $width;
        .sidebar-nav {
          margin-left: - $sidebar-movement;
        }
      }
      #page-content-wrapper {
        margin-left: $width;
        left: 0;
        @include transitions();
      }
    }

    height: 100%;
    width: 100%;
    #sidebar-wrapper {
      z-index: 1000;
      @include transitions();
      height: 100%;
      overflow: hidden;
      background: $primary;
      position: absolute;
      width: $sidebar-size;
      top: 0;
      left: 0;

      .sidebar-nav {
        top: 0;
        width: $sidebar-size;
        margin: 0;
        padding: 0;
        list-style: none;
        @include transitions();
        li {
          text-indent: 20px;
          line-height: 40px;

          a {
            display: block;
            text-decoration: none;
            color: $tertiary;

            i {
              float: right;
              padding-top: 14px;
              padding-right: 13px;
            }

            &.active {
              text-decoration: none;
              color: #fff;
              background: rgba(255, 255, 255, 0.2);
            }

            &:hover {
              text-decoration: none;
              color: #fff;
              background: rgba(255, 255, 255, 0.2);
            }

            &:active {
              text-decoration: none;
            }

            &:focus {
              text-decoration: none;
            }
          }

          &.sidebar-brand {
            height: 65px;
            font-size: 18px;
            line-height: 60px;
            position: relative;
            right: 22px;

            .toggle-button {
              position: absolute;
              right: -22px;
              top: 12px;
              border-radius: 0;
              background-color: transparent;
              color: white;
              outline: none;
            }

            i {
              float: none;
              &.brand-icon {
                position: relative;
                left: 5px;
              }
              &.toggle {
                position: relative;
                float: right;
              }
            }

            a {
              color: #999999;

              &.active {
                text-decoration: none;
                // Override
                color: white;
                background: inherit;
              }

              &:hover {
                color: #fff;
                background: none;
              }
            }

          }
        }
      }
    }

    #page-content-wrapper {
      .container-fluid {
        padding: 0;
        margin: 0;
      }
      padding: 30px;
      @include transitions();
      margin-left: $sidebar-size - $sidebar-movement;
      margin-top: -50px;
      position: relative;
      left: $sidebar-movement;
    }
  }
}