@import "../../../bower_components/bootstrap-sass/lib/bootstrap.scss";


body {
  background: lightblue;
  color: black;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}